<!--Header-->
<div class="header">
    <div class="banner" role="banner">
        <div class="title-wrapper">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image" tabindex="1">
            <div class="title-text"><a href="/" style="text-decoration: none;color:black" tabindex="2">THE BROWN NOSER</a></div>
        </div>
        <div class="extras-wrapper">
            <div class="centering-wrapper">
            <div class="extras-options">
                <a href="/about" class="extras-text" tabindex="3">About</a>
                <a href="/archive" class="extras-text" tabindex="4">Archive</a>
                <a href="/join" class="extras-text" tabindex="5">Join Us</a>
            </div>
            <div class="search" role="search" >
                <form action="/search">
                    <input type="text" placeholder="Search..." name="search" class="search-input search-light-grey" tabindex="6">
                </form>
            </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="navbar" role="navigation" >
        <ul class="navlist">
            <li class="navitem"><a href="/category/15" class="hover category" tabindex="7">BUSINESS</a></li>
            <li class="navitem"><a href="/category/14" class="hover category" tabindex="8">CAMPUS LIFE</a></li>
            <li class="navitem"><a href="/category/50" class="hover category" tabindex="9">CINEMA CORNER</a></li>
            <li class="navitem"><a href="/category/17" class="hover category" tabindex="10">OFF CAMPUS</a></li>
            <li class="navitem"><a href="/category/45" class="hover category" tabindex="11">NEWS IN PICTURES</a></li>
            <li class="navitem"><a href="/category/18" class="hover category" tabindex="12">OPINION</a></li>
            <li class="navitem"><a href="/category/48" class="hover category" tabindex="13">POLITICS</a></li>
            <li class="navitem"><a href="/category/19" class="hover category" tabindex="14">SCIENCE &amp; TECHNOLOGY</a></li>
            <li class="navitem"><a href="/category/20" class="hover category" tabindex="15">SPORTS</a></li>
        </ul>
    </div>
    <hr>
</div>

<div class="one-col-page-wrapper" role="main">
     <!--Breadcrumbs-->
    {{!-- <div class="breadcrumbs-wrapper brown bread-margin">
        Previous / <span class="underline">About Us</span>
    </div> --}}
    <!--Sub-banner-->
    <div class="sub-banner brown" tabindex="16">
        ABOUT US
    </div>
    <hr>
    <!--Banner Image-->
    <div class="splash-wrapper about-image" tabindex="17">
        <div class="about-text" tabindex="18">{{ aboutBlurb }}</div>
    </div>
    <!--Bottom Content Section-->
    <div class="bottom-wrapper">
        <div class="bottom-title" tabindex="19">STAFF</div>
        <hr>
        <div class="staff-cols-wrapper" id="authorContainer">
            {{#staffMembers}}
            <!--One Staff Member-->
            <div class="staff-member-wrapper" tabindex="20">
                <div class="staff-image-wrapper"><img src={{ staffPhoto }} alt="staff photo" class="staff-image" ></div>
                <div class="staff-text-wrapper">
                    <div class="staff-name"><a href={{authorLink}} style="text-decoration:none;color:#392520">{{ staffName }}</a></div>
                    <div class="staff-role">{{ staffRole }}</div>
                    <div class="staff-blurb">{{ staffBlurb }} </div>
                </div>
            </div>
            <!---->
            {{/staffMembers}}
        </div>
    </div>
</div>

<!--Footer-->
<div class="footer" id="footer">
    <div class="footer-text" tabindex="21">© The Brown Noser</div>
</div>

<script>
    offset = 16;
    // create observer
    const config = {
            root:null,
            rootMargins: "0px",
            threshold: 0.5,
        };
    let observer = new IntersectionObserver(function (entries, self) {
        if (entries[0].isIntersecting) {
            loadData();
        }
    }, config);
    observer.observe(document.getElementById("footer"));

    // fetch new data
    async function loadData() {
        let container = document.getElementById("authorContainer");     
        let url = `/loadAboutAuthors/${offset}`;
        await fetch(url)
            .then(response => response.json())
            .then(data => {
                if (data.length == 0) {
                    observer.unobserve(document.getElementById("footer"));
                }
                data.forEach(author => {
                    let authorHtml = displayAuthor(author);
                    container.appendChild(authorHtml);
                });
            });
        // increment offset after each call to fetch more data
        offset = offset + 16;
    }
    function createElementByClass(elemName, clss){
        let element = document.createElement(elemName);
        element.className = clss;
        return element;
    }

    function displayAuthor(author) {
        let staffWrapper = createElementByClass('div', "staff-member-wrapper");
        let staffImageWrapper = createElementByClass('div', "staff-image-wrapper");
        let image = createElementByClass('img', "staff-image");
        image.src = (author.authorImage)? `/images/authors/${author.authorImage}` : "/images/author-default.png";
        image.alt = "staff photo";
        let textWrapper = createElementByClass('div', "staff-text-wrapper");
        let staffName = createElementByClass('div', "staff-name");
        let authorLink = document.createElement('a');
        authorLink.href = `/author/${author.authorid}`;
        authorLink.style = "text-decoration:none;color:#392520";
        authorLink.innerHTML = author.author;
        let staffRole = createElementByClass('div', "staff-role");
        staffRole.innerHTML = author.title;
        let blurb = document.createElement('div');
        if (author.authorBio) {
            blurb.innerHTML = author.authorBio;
        } else {
            let first_name = (author.author).split(" ")[0];
            blurb.innerHTML = `${first_name} is a ${author.title} at The Noser.`
        }
        

        staffWrapper.appendChild(staffImageWrapper);
        staffWrapper.appendChild(textWrapper);

        staffImageWrapper.appendChild(image);

        textWrapper.appendChild(staffName);
        textWrapper.appendChild(staffRole);
        textWrapper.appendChild(blurb);

        staffName.appendChild(authorLink);
        return staffWrapper;
    }
</script>