<!--Header-->
<div class="header">
    <div class="banner" role="banner">
        <div class="title-wrapper">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="title-text"><a href="/" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
        </div>
        <div class="extras-wrapper">
            <div class="centering-wrapper">
            <div class="extras-options">
                <a href="/about" class="extras-text" tabindex="2">About</a>
                <a href="/archive" class="extras-text" tabindex="3">Archive</a>
                <a href="/join" class="extras-text" tabindex="4">Join Us</a>
            </div>
            <div class="search" role="search">
                <form action="/search">
                    <input type="text" placeholder="Search..." name="search" class="search-input search-light-grey" tabindex="5">
                </form>
            </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="navbar" role="navigation">
        <ul class="navlist">
            <li class="navitem"><a href="/category/15" class="hover category">BUSINESS</a></li>
            <li class="navitem"><a href="/category/14" class="hover category">CAMPUS LIFE</a></li>
            <li class="navitem"><a href="/category/50" class="hover category">CINEMA CORNER</a></li>
            <li class="navitem"><a href="/category/17" class="hover category">OFF CAMPUS</a></li>
            <li class="navitem"><a href="/category/45" class="hover category">NEWS IN PICTURES</a></li>
            <li class="navitem"><a href="/category/18" class="hover category">OPINION</a></li>
            <li class="navitem"><a href="/category/48" class="hover category">POLITICS</a></li>
            <li class="navitem"><a href="/category/19" class="hover category">SCIENCE &amp; TECHNOLOGY</a></li>
            <li class="navitem"><a href="/category/20" class="hover category">SPORTS</a></li>
        </ul>
    </div>
    <hr>
</div>

<!--Page Content-->
<div class="page-content-wrapper" role="main">
    <!--Main Content Section-->
    <div class="main-content-wrapper">
        <!--Breadcrumbs-->
        <div class="breadcrumbs-wrapper brown">
            <a class="brown" href="/">Home</a> / <a class="brown" href={{ categoryLink }}>{{articleCategoryName}}</a> / Article
        </div>
        <!--Article-->
        <div class="article-wrapper">
            <!--Article top text-->
            <div class="article-top-text-wrapper">
                <div class="article-title"> {{ articleTitle }} </div>
                <div class="top-text-wrapper">
                    <div class="article-author brown"><a href={{ authorLink }} style="text-decoration:none;color:#573B03">{{ articleAuthor }}</a></div>
                    <div class="article-date"> {{ articleDate }} </div>
                </div>
            </div>
            <!--Article image-->
            <div class="featured-image-wrapper">
                <img src={{ articleImage }} alt="featured article picture" class="featured-image" onerror="this.onerror=null; this.src='/images/article-pic.png'">
            </div>
            <div class="article-caption"> {{ photoCaption }} </div>
            <!--Article text-->
            <div class="article-text">
                {{#if isHTML}}
                {{{ articleText }}}

                {{else}}
                {{articleText}}
                
                {{/if}}
            </div>
            <!--Social media buttons-->
            {{!-- <div class="social-buttons">
                <button class="btn"><a href="#"><i class="fa fa-facebook-square unstyled-link"></a></i></button>
                <button class="btn"><a href="#"><i class="fa fa-twitter-square unstyled-link"></a></i></button>
                <button class="btn"><a href="#"><i class="fa fa-print unstyled-link"></a></i></button>
                <button class="btn"><a href="#"><i class="fa fa-envelope-square unstyled-link"></a></i></button>
            </div> --}}
            <div class="share-btn" data-url={{shareUrl}} data-title="{{shareTitle}}">
                <a class="btn-facebook" data-id="fb"><i class="fa fa-facebook-square unstyled-link"></i></a>
                <a class="btn" data-id="tw"><i class="fa fa-twitter-square unstyled-link"></i></a>
                <a class="btn" data-id="print"><i class="fa fa-print unstyled-link"></i></a>
                <a class="btn" data-id="mail"><i class="fa fa-envelope-square unstyled-link"></i></a>
            </div>
        </div>
    </div>
    <!--Sidebar Section-->
    <div class="sidebar-wrapper">
        <div class="sidebar-title">SUGGESTED</div>
        {{#suggestedArticles}}
        <!--Sidebar article-->
        <a href={{ articleLink }} style="text-decoration:none;color:black">
        <div class="sidebar-article">
            <img src={{ articleImage }} alt="most viewed article picture" class="sidebar-image" onerror="this.onerror=null; this.src='/images/article-pic.png'">
            <div class="sidebar-text-wrapper">
                <div class="sidebar-category category">{{ articleCategory }}</div>
                <div class="sidebar-blurb bold">{{ articleTitle }}</div>
            </div>
        </div>
        </a>
        <!---->
        {{/suggestedArticles}}
    </div>
</div>

<!--Footer-->
<div class="footer">
    <div class="footer-text">© The Brown Noser</div>
</div>

<script src="/share-buttons.js"></script>