<!--Header-->
<div class="header">
    <div class="banner" role="banner">
        <div class="title-wrapper">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="title-text"><a href="/" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
        </div>
        <div class="extras-wrapper">
            <div class="extras-options">
                <a href="/about" class="extras-text">About</a>
                <a href="/archive" class="extras-text">Archive</a>
                <a href="/join" class="extras-text">Join Us</a>
            </div>
            <div class="search" role="search">
                <form action="/search">
                    <input type="text" placeholder="Search..." name="search" class="search-input search-light-grey">
                </form>
            </div>
            <div class="email">
                <form class="email-form">
                    <input type="text" placeholder="Email address" name="email" class="email-input light-grey">
                    <button type="submit" class="subscribe-button">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="navbar" role="navigation">
        <ul class="navlist">
            <li class="navitem"><a href="/category/15" class="hover">BUSINESS</a></li>
            <li class="navitem"><a href="/category/14" class="hover">CAMPUS LIFE</a></li>
            <li class="navitem"><a href="/category/50" class="hover">CINEMA CORNER</a></li>
            <li class="navitem"><a href="/category/17" class="hover">OFF CAMPUS</a></li>
            <li class="navitem"><a href="/category/45" class="hover">NEWS IN PICTURES</a></li>
            <li class="navitem"><a href="/category/18" class="hover">OPINION</a></li>
            <li class="navitem"><a href="/category/48" class="hover">POLITICS</a></li>
            <li class="navitem"><a href="/category/19" class="hover">SCIENCE &amp TECHNOLOGY</a></li>
            <li class="navitem"><a href="/category/20" class="hover">SPORTS</a></li>
        </ul>
    </div>
    <hr>
</div>

<!--Page Content-->
<div class="page-content-wrapper" role="main">
    <!--Main Content Section-->
    <div class="main-content-wrapper">
        <!--Breadcrumbs-->
        <div class="breadcrumbs-wrapper brown">
            Home / <a class="brown" href={{ categoryLink }}>{{articleCategoryName}}</a> / <span class="underline">Article</span>
        </div>
        <!--Article-->
        <div class="article-wrapper">
            <!--Article top text-->
            <div class="article-top-text-wrapper">
                <div class="article-title"> {{ articleTitle }} </div>
                <div class="top-text-wrapper">
                    <div class="article-author brown"><a href={{ authorLink }} style="text-decoration:none;color:#573B03">{{ articleAuthor }}</a></div>
                    <div class="article-date"> {{ articleDate }} </div>
                </div>
            </div>
            <!--Article image-->
            <div class="featured-image-wrapper">
                <img src={{ articleImage }} alt="featured article picture" class="featured-image" onerror="this.onerror=null; this.src='/images/article-pic.png'">
            </div>
            <div class="article-caption"> {{ photoCaption }} </div>
            <!--Article text-->
            <div class="article-text">
                {{ articleText }}
            </div>
            <!--Social media buttons-->
            <div class="social-buttons">
                <button class="btn"><a href="#"><i class="fa fa-facebook-square unstyled-link"></a></i></button>
                <button class="btn"><a href="#"><i class="fa fa-twitter-square unstyled-link"></a></i></button>
                <button class="btn"><a href="#"><i class="fa fa-print unstyled-link"></a></i></button>
                <button class="btn"><a href="#"><i class="fa fa-envelope-square unstyled-link"></a></i></button>
            </div>
        </div>
    </div>
    <!--Sidebar Section-->
    <div class="suggested-wrapper">
        <div class="smaller-sidebar-title">SUGGESTED</div>
        {{#suggestedArticles}}
        <!--Suggested article-->
            <div class="suggested-article">
                <img src={{ articleImage }} alt="article picture" class="suggested-image" onerror="this.onerror=null; this.src='/images/article-pic.png'">
                <div class="suggested-text">
                    <div class="suggested-title hover"><a href={{ articleLink }} class="link">{{ articleTitle }}</a></div>
                    <div class="suggested-date">{{ articleDate }}</div>
                </div>
            </div>
        <!---->
        {{/suggestedArticles}}
    </div>
</div>

<!--Footer-->
<div class="footer">
    <div class="footer-text">© The Brown Noser</div>
</div>