<!--Header-->
<div class="header">
    <div class="banner" role="banner">
        <div class="title-wrapper">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="title-text"><a href="/" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
        </div>
        <div class="extras-wrapper">
            <div class="extras-options">
                <a href="/about" class="extras-text">About</a>
                <a href="/archive" class="extras-text">Archive</a>
                <a href="/join" class="extras-text">Join Us</a>
            </div>
            <div class="search" role="search">
                <form action="/search">
                    <input type="text" placeholder="Search..." name="search" class="search-input search-light-grey">
                </form>
            </div>
            <div class="email">
                <form class="email-form">
                    <input type="text" placeholder="Email address" name="email" class="email-input light-grey">
                    <button type="submit" class="subscribe-button">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="navbar" role="navigation">
        <ul class="navlist">
            <li class="navitem"><a href="/category/15" class="hover">BUSINESS</a></li>
            <li class="navitem"><a href="/category/14" class="hover">CAMPUS LIFE</a></li>
            <li class="navitem"><a href="/category/50" class="hover">CINEMA CORNER</a></li>
            <li class="navitem"><a href="/category" class="hover">OFF CAMPUS</a></li>
            <li class="navitem"><a href="/category/45" class="hover">NEWS IN PICTURES</a></li>
            <li class="navitem"><a href="/category" class="hover">OPINION</a></li>
            <li class="navitem"><a href="/category/48" class="hover">POLITICS</a></li>
            <li class="navitem"><a href="/category/19" class="hover">SCIENCE &amp TECHNOLOGY</a></li>
            <li class="navitem"><a href="/category/20" class="hover">SPORTS</a></li>
        </ul>
    </div>
    <hr>
</div>

 <!--Sub-banner-->
<div class="author-banner">
    {{ authorName }}
</div>
<hr>

<!--Page Content-->
<div class="author-page-wrapper" role="main">
    <!--Author Articles Section-->
    <div class="author-articles-wrapper">
        <div class="author-articles-title">
            ARTICLES BY {{ authorName }}
        </div>
         <!--Listed articles-->
        <div class="list-articles-wrapper">
            {{#authorArticles}}
            <!--One article-->
            <a href={{ articleLink }} style="text-decoration:none;color:black">
            <div class="list-article-wrapper">
                <div class="list-article">
                    <div class="list-image-wrapper">
                        <img src={{ articleImage }} alt="Article picture" class="list-image">
                    </div>
                    <div class="list-text-wrapper">
                        <div class="list-title bold hover">{{ articleTitle }}</div>
                        <div class="list-blurb">{{ articleBlurb }}</div>
                    </div>
                </div>
                <hr>
            </div>
            </a>
            <!---->
            {{/authorArticles}}
        </div>
    </div>
    <!--Author Info-->
    <div class="author-info-wrapper">
        <div class="author-image-wrapper">
            <img src={{ authorPicture }} alt="author image" class="author-image">
        </div>
        <div class="author-text-wrapper">
            <div class="author-info-name">
                {{ authorName }}
            </div>
            <div class="author-blurb">
                {{ authorBlurb }}
            </div>
            <div class="author-socials-wrapper">
                <div class="author-social"><i class="fa fa-instagram"><span style="font-size: 18px; margin-left: 2%;"><a href={{ instaLink }} class="unstyled-link">{{ instaHandle}}</a></span></i></div>
                <div class="author-social"><i class="fa fa-twitter-square"><span style="font-size: 18px; margin-left: 2%;"><a href={{ twitterLink }} class="unstyled-link">{{ twitterHandle }}</a></span></i></div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<div class="footer">
    <div class="footer-text">© The Brown Noser</div>
</div>