<!--Header-->
<div class="header">
    <div class="banner" role="banner">
        <div class="title-wrapper">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="title-text"><a href="/" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
        </div>
        <div class="extras-wrapper">
            <div class="centering-wrapper">
            <div class="extras-options">
                <a href="/about" class="extras-text" tabindex="2">About</a>
                <a href="/archive" class="extras-text" tabindex="3">Archive</a>
                <a href="/join" class="extras-text" tabindex="4">Join Us</a>
            </div>
            <div class="search" role="search">
                <form action="/search">
                    <input type="text" placeholder="Search..." name="search" class="search-input search-light-grey" tabindex="5">
                </form>
            </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="navbar" role="navigation">
        <ul class="navlist">
            <li class="navitem"><a href="/category/15" class="hover category" style={{ businessStyle }}>BUSINESS</a></li>
            <li class="navitem"><a href="/category/14" class="hover category" style={{ campusLifeStyle }}>CAMPUS LIFE</a></li>
            <li class="navitem"><a href="/category/50" class="hover category" style={{ cinemaCornerStyle }}>CINEMA CORNER</a></li>
            <li class="navitem"><a href="/category/17" class="hover category" style={{ offCampusStyle }}>OFF CAMPUS</a></li>
            <li class="navitem"><a href="/category/45" class="hover category" style={{ newsInPicsStyle }}>NEWS IN PICTURES</a></li>
            <li class="navitem"><a href="/category/18" class="hover category" style={{ opinionStyle }}>OPINION</a></li>
            <li class="navitem"><a href="/category/48" class="hover category" style={{ politicsStyle }}>POLITICS</a></li>
            <li class="navitem"><a href="/category/19" class="hover category" style={{ sTStyle }}>SCIENCE &amp; TECHNOLOGY</a></li>
            <li class="navitem"><a href="/category/20" class="hover category" style={{ sportsStyle }}>SPORTS</a></li>
        </ul>
    </div>
    <hr>
</div>

<!--Page Content-->
<div class="page-content-wrapper" role="main">
    <!--Main Content Section-->
    <div class="main-content-wrapper">
        <!--Breadcrumbs-->
        <div class="breadcrumbs-wrapper brown">
            <a class="brown" href="/">Home</a> / {{featuredCategory}}
        </div>
        <!--Featured article-->
        <a href={{ featuredLink }} style="text-decoration:none">
        <div class="featured-article">
            {{#if hasFeaturedPic}}
            <div class="featured-image-wrapper">
                <img src={{ featuredPic }} alt="featured article picture" class="featured-image" onerror="this.onerror=null; this.src='/images/article-pic.png'">
            </div>
            {{/if}}

            <div class="featured-text-wrapper">
                <div class="featured-title-wrapper">
                    <div class="featured-title bold hover">{{ featuredTitle }}</div>
                </div>
                <div class="featured-category brown">
                    {{ featuredCategory }}
                </div>
                <div class="featured-blurb">
                    {{ featuredBlurb }}
                </div>
            </div>
            <div class="read-more-wrapper">
                <a href={{ featuredLink }} class="read-more brown">Read more</a>
            </div>
            <hr>
        </div>
        </a>

        <!--Listed articles-->
        <div class="list-articles-wrapper" id="article-container">
            {{#listArticles}}
            <!--One article-->
            <a href={{ articleLink }} style="text-decoration: none;color:black">
            <div class="list-article-wrapper">
                {{#if hasPhoto}}
                <div class="list-article">
                    <div class="list-image-wrapper">
                        <img src={{ articleImage }} alt="article picture" class="list-image" onerror="this.onerror=null; this.src='/images/article-pic.png'">
                    </div>
                    <div class="list-text-wrapper">
                        <div class="list-title bold hover"> {{ articleTitle }} </div>
                        <div class="list-blurb">{{ articleBlurb }}</div>
                    </div>
                </div>
                {{else}}
                    <div class="list-text-wrapper">
                        <div class="list-title bold hover"> {{ articleTitle }} </div>
                        <div class="list-blurb">{{ articleBlurb }}</div>
                    </div>
                {{/if}}
                <div class="read-more-wrapper">
                    <div class="read-more brown">Read more</div>
                </div>
                <hr>
            </div>
            </a>
            <!---->
            {{/listArticles}}
        </div>

    </div>

    <!--Sidebar Section-->
    <div class="sidebar-wrapper">
        <div class="sidebar-title">MOST VIEWED</div>
        {{#mostViewedArticles}}
        <!--Sidebar article-->
        <a href={{ articleLink }} style="text-decoration:none;color:black">
        <div class="sidebar-article">
            {{#if hasPhoto}}
            <img src={{ articleImage }} alt="most viewed article picture" class="sidebar-image" onerror="this.onerror=null; this.src='/images/article-pic.png'">
            {{/if}}
            <div class="sidebar-text-wrapper">
                <div class="sidebar-category category">{{ articleCategory }}</div>
                <div class="sidebar-blurb bold hover">{{ articleTitle }}</div>
            </div>
        </div>
        </a>
        <!---->
         {{/mostViewedArticles}}
    </div>
</div>

<!--Footer-->
<div class="footer" id="footer">
    <div class="footer-text">© The Brown Noser</div>
</div>

<input type = "hidden" id = "categoryId" value = {{featuredCategoryId}} />
<script>
    offset = 15;
    let categoryId = document.getElementById("categoryId").value;
    // create observer
    const config = {
            root:null,
            rootMargins: "0px",
            threshold: 0.5,
        };
    let observer = new IntersectionObserver(function (entries, self) {
        if (entries[0].isIntersecting) {
            console.log("intersecting");
            loadData();
        }
    }, config);
    observer.observe(document.getElementById("footer"));

    // fetch new data
    async function loadData() {
        let container = document.getElementById("article-container");
        console.log("fetching more data");
        
        let url = `/loadCategoryArticles/${categoryId}/${offset}`;
        console.log(url);
        console.log(offset);
        let areArticlesLeft = await fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.length == 0) {
                    console.log("getting 0");
                    observer.unobserve(document.getElementById("footer"));
                }
                data.forEach(article => {
                    let articleHtml = displayArticle(article);
                    container.appendChild(articleHtml);
                });
            });
        // increment offset after each call to fetch more data
        console.log(offset);
        offset = offset + 15;
    }
    function createElementByClass(elemName, clss){
        let element = document.createElement(elemName);
        element.className = clss;
        return element;
    }
    function displayArticle(article) {
        let articleLink = `/article/${article.articleid}`;
        let articleImageLink =  `/images/images/${article.photoFilename}`
        var outerLink = document.createElement('a');
        outerLink.href = articleLink;
        outerLink.style = "text-decoration: none;color:black";

        let articleWrapper = createElementByClass('div', "list-article-wrapper");
        let listArticle = createElementByClass('div', "list-article");
        let imageWrapper = createElementByClass('div', "list-image-wrapper");
        let articleImage = createElementByClass('img', "list-image");
        articleImage.src = articleImageLink;
        articleImage.alt = "article picture"; 
        articleImage.onerror = function() {this.onerror=null; this.src='/images/article-pic.png'};
        let textWrapper = createElementByClass('div', "list-text-wrapper");
        let textTitle = createElementByClass('div', "list-title bold hover");
        textTitle.innerHTML = article.headline;
        let textBlurb = createElementByClass('div', "list-blurb");
        textBlurb.innerHTML = article.teaser;
        var readMore = createElementByClass('div', "read-more-wrapper");
        var moreLink = createElementByClass('a', "read-more brown");
        moreLink.innerHTML = "Read more";
        var hr = document.createElement('hr');

        outerLink.appendChild(articleWrapper);
        if (article.photoFilename){
            articleWrapper.appendChild(listArticle);
            articleWrapper.appendChild(readMore);
            articleWrapper.appendChild(hr);

            listArticle.appendChild(imageWrapper);
            listArticle.appendChild(textWrapper);

            imageWrapper.appendChild(articleImage);
            textWrapper.appendChild(textTitle);
            textWrapper.appendChild(textBlurb);
            readMore.appendChild(moreLink);
        } else {
            // if no image take out image wrapper and put text wrapper directly on article wrapper
            articleWrapper.appendChild(textWrapper);
            articleWrapper.appendChild(readMore);
            articleWrapper.appendChild(hr);

            textWrapper.appendChild(textTitle);
            textWrapper.appendChild(textBlurb);
            readMore.appendChild(moreLink);
        }
        return outerLink; 
        //above makes this structure
        //<a href={{ articleLink }} style="text-decoration: none;color:black">
            //<div class="list-article-wrapper">
                //<div class="list-article">
                    //<div class="list-image-wrapper">
                        //<img src={{ articleImage }} alt="article picture" class="list-image" onerror="this.onerror=null; this.src='/images/featured.png'">
                    //</div>
                    //<div class="list-text-wrapper">
                        //<div class="list-title bold hover"> {{ articleTitle }} </div>
                        //<div class="list-blurb">{{ articleBlurb }}</div>
                    //</div>
                //</div>
                //<div class="read-more-wrapper">
                    //<a href={{ articleLink }} class="read-more brown">Read more</a>
                //</div>
                //<hr>
            //</div>
        //</a>
    }
</script>