<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <script>

    $(document).ready(function () {
        $('.limited').selectize({
            sortField: 'text'
        });
    });
    </script>
</head>

<body>
<!--Dashboard Banner-->
<div class="dashboard-banner">
    <div class="dashboard-logo">
        <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
        <div class="dashboard-logo-text"><a href="/dashboard" style="text-decoration: none;color:black" tabindex="1">THE BROWN NOSER</a></div>
    </div>
    <div class="logout-button-wrapper">
        <form action="logout" method="post">
            <input class="logout-button" type="submit" value="Logout" tabindex="2">
        </form>
    </div>
</div>

 <!--Navbar-->
    <div class="portal-navbar" role="navigation" style="padding-bottom:1.5%;">
        <ul class="portal-navlist">
            <li class="portal-navitem"><a href="/write_new" class="hover" tabindex="3">NEW ARTICLE</a></li>
            <li class="portal-navitem"><a href="/edit_article" class="hover" tabindex="4">EDIT ARTICLE</a></li>
            <li class="portal-navitem"><a href="/delete" class="hover" tabindex="5">DELETE ARTICLE</a></li>
            <li class="portal-navitem"><a href="/new_author" class="hover" tabindex="6">NEW AUTHOR</a></li>
            <li class="portal-navitem"><a href="/edit_author" class="hover" tabindex="7">EDIT AUTHOR</a></li>
            <li class="portal-navitem"><a href="/publish_topical" class="hover" tabindex="8">PUBLISH ARTICLE</a></li>
            <li class="portal-navitem"><a href="/publish_issue" class="hover" tabindex="9">PUBLISH ISSUE</a></li>
        </ul>
    </div>
    <hr style="height: 4px;margin:0;">

<div style="padding:2%;">
    {{#if search}}
    <form method="post">
        <label for="editAuthor" tabindex="10">Select author: </label>
        <select class="limited" id="editAuthor" name="editAuthor" required tabindex="11">
        <option value="">Select an author...</option>
        {{#authors}}
        <option value={{authorid}}>{{authorname}}</option>
        {{/authors}}
        </select> <br/> 

        <input type="submit" value="Go">
    </form>
    {{/if}}

    {{#if found}}
    <form action="/save_author" method="post" tabindex="12">
        <label for="name">Author name: </label>
        <input type="hidden" id="id" name="id" value='{{authorid}}'>
        <input type="text" id="name" name="name" value='{{authorname}}'><br/>

        <label for="retired">Status: </label>
        <select name="retired">
            {{!-- fix this --}}
            <option value="0">Active</option> 
            <option value="1">Retired</option>
        </select> <br/>

        <label for="bio">Author bio: </label>
        <input type="textarea" id="bio" name="bio" value='{{bio}}'><br/>

        <label for="authorPhoto">Upload photo: </label>
        <input type="file" id="authorPhoto" name="authorPhoto" accept="image/*"> <br/>

        <label for="insta">Instagram: </label>
        <input type="text" id="insta" name="insta" value='{{insta}}'><br/>

        <label for="twitter">Twitter: </label>
        <input type="text" id="twitter" name="twitter" value='{{twitter}}'><br/>

        <input type="submit" value="Save">
        
    </form>
    {{/if}}

    <div class="result">
        {{message}}
    </div>
</div>
</body>

<script>
    const handleImageUpload = event => {
        const files = event.target.files;
        const formData = new FormData();
        formData.append('myFile', files[0]);

        fetch('/saveAuthorImage', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.path)
        })
        .catch(error => {
            console.error(error)
        })
    }

    document.querySelector('#authorPhoto').addEventListener('change', event => {
        handleImageUpload(event);
    });

</script>