<!--Header-->
<div class="header">
    <div class="banner" role="banner">
        <div class="title-wrapper" tabindex="1">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="title-text"><a href="/" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
        </div>
        <div class="extras-wrapper">
            <div class="extras-options">
                <a href="/about" class="extras-text" tabindex="2">About</a>
                <a href="/archive" class="extras-text" tabindex="3">Archive</a>
                <a href="/join" class="extras-text" tabindex="4">Join Us</a>
            </div>
            <div class="search" role="search">
                <form action="/search">
                    <input type="text" placeholder="Search..." name="search" class="search-input search-light-grey" tabindex="5">
                </form>
            </div>
            <div class="email">
                <form class="email-form">
                    <input type="text" placeholder="Email address" name="email" class="email-input search-light-grey" tabindex="6">
                    <button type="submit" class="subscribe-button" tabindex="7">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="navbar" role="navigation">
        <ul class="navlist">
            <li class="navitem"><a href="/category/15" class="hover" tabindex="7">BUSINESS</a></li>
            <li class="navitem"><a href="/category/14" class="hover">CAMPUS LIFE</a></li>
            <li class="navitem"><a href="/category/50" class="hover">CINEMA CORNER</a></li>
            <li class="navitem"><a href="/category/17" class="hover">OFF CAMPUS</a></li>
            <li class="navitem"><a href="/category/45" class="hover">NEWS IN PICTURES</a></li>
            <li class="navitem"><a href="/category/18" class="hover">OPINION</a></li>
            <li class="navitem"><a href="/category/48" class="hover">POLITICS</a></li>
            <li class="navitem"><a href="/category/19" class="hover">SCIENCE &amp TECHNOLOGY</a></li>
            <li class="navitem"><a href="/category/20" class="hover">SPORTS</a></li>
        </ul>
    </div>
    <hr style="margin-bottom:0px">
</div>

<!--Page Content-->
<div class="page-content-wrapper" role="main">
    <!--Main Content Section-->
    <div class="main-content-wrapper">
        <!--Featured article-->
        <a href={{ featuredLink }} style="text-decoration:none">
        <div class="featured-article">
            <div class="featured-image-wrapper">
                <img src={{ featuredPic }} alt="Featured article picture" class="featured-image">
            </div>

            <div class="featured-text-wrapper">
                <div class="featured-title-wrapper">
                    <div class="featured-title bold hover">{{ featuredTitle }}</div>
                </div>
                <div class="featured-category brown">
                    {{ featuredCategory }}
                </div>
                <div class="featured-blurb">
                    {{ featuredBlurb }}
                </div>
            </div>
            <div class="read-more-wrapper">
                <a href={{ featuredLink }} class="read-more brown">Read more</a>
            </div>
            <hr>
        </div>
        </a>

        <!--Listed articles-->
        <div class="list-articles-wrapper">

            <!-- Layout for possible horizontal bar of articles
            <div class="three-articles-wrapper">
                <div class="three-article">
                    <div class="three-article-image-wrapper">
                        <img src="images/article-pic.png" alt="article image" class="three-article-image">
                    </div>
                    <div "three-article-text-wrapper">
                        <div class="list-title bold hover">This is a cool title cool title cool title</div>
                    </div>
                </div>
            </div>
            -->
            {{#listArticles}}
            <!--One article-->
            <a href={{ articleLink }} style="text-decoration: none;color:black">
            <div class="list-article-wrapper">
                <div class="list-article">
                    <div class="list-image-wrapper">
                        <img src={{ articleImage }} alt="article picture" class="list-image">
                    </div>
                    <div class="list-text-wrapper">
                        <div class="list-title bold hover"> {{ articleTitle }} </div>
                        <div class="list-blurb">{{ articleBlurb }}</div>
                    </div>
                </div>
                <div class="read-more-wrapper">
                    <a href={{ articleLink }} class="read-more brown">Read more</a>
                </div>
                <hr>
            </div>
            </a>
            <!---->
            {{/listArticles}}
        </div>

    </div>

    <!--Sidebar Section-->
    <div class="sidebar-wrapper">
        <div class="sidebar-title">MOST VIEWED</div>
        {{#mostViewedArticles}}
        <!--Sidebar article-->
        <a href={{ articleLink }} style="text-decoration:none;color:black">
        <div class="sidebar-article">
            <img src={{ articleImage }} alt="most viewed article picture" class="sidebar-image">
            <div class="sidebar-text-wrapper">
                <div class="sidebar-category category">{{ articleCategory }}</div>
                <div class="sidebar-blurb bold">{{ articleTitle }}</div>
            </div>
        </div>
        </a>
        <!---->
         {{/mostViewedArticles}}
    </div>
</div>

<!--Footer-->
<div class="footer">
    <div class="footer-text">© The Brown Noser</div>
</div>