<!--Header-->
<div class="header">
    <div class="banner" role="banner">
        <div class="title-wrapper">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="title-text"><a href="/" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
        </div>
        <div class="extras-wrapper">
            <div class="extras-options">
                <a href="/about" class="extras-text">About</a>
                <a href="/archive" class="extras-text">Archive</a>
                <a href="/join" class="extras-text">Join Us</a>
            </div>
            <div class="search" role="search">
                <form action="/search">
                    <input type="text" placeholder="Search..." name="search" class="search-input search-light-grey">
                </form>
            </div>
        </div>
    </div>
    <hr class="line-light-grey">
    <div class="navbar" role="navigation">
        <ul class="navlist">
            <li class="navitem"><a href="/category/15" class="hover">BUSINESS</a></li>
            <li class="navitem"><a href="/category/14" class="hover">CAMPUS LIFE</a></li>
            <li class="navitem"><a href="/category/50" class="hover">CINEMA CORNER</a></li>
            <li class="navitem"><a href="/category/17" class="hover">OFF CAMPUS</a></li>
            <li class="navitem"><a href="/category/45" class="hover">NEWS IN PICTURES</a></li>
            <li class="navitem"><a href="/category/18" class="hover">OPINION</a></li>
            <li class="navitem"><a href="/category/48" class="hover">POLITICS</a></li>
            <li class="navitem"><a href="/category/19" class="hover">SCIENCE &amp; TECHNOLOGY</a></li>
            <li class="navitem"><a href="/category/20" class="hover">SPORTS</a></li>
        </ul>
    </div>
    <hr class="line-light-grey">
</div>

<!--Page Content-->
<div class="page-content-wrapper" role="main">
    <!--Main Content Section-->
    <div class="main-content-wrapper">
        <!--Breadcrumbs-->
        <div class="breadcrumbs-wrapper brown">
            {{#if isNonTopical}}
            <a class="brown" href="/archive">Archive</a> / Issue {{issueNum}}
            {{else}}
            <a class="brown" href="/archive">Archive</a> / Topical {{year}}
            {{/if}}
        </div>
        <!--Featured article-->
        {{#if isNonTopical}}
        <a href={{ featuredLink }} style="text-decoration:none">
        <div class="featured-article">
            <div class="featured-image-wrapper">
                <img src={{ featuredPic }} alt="featured article picture" class="featured-image" onerror="this.onerror=null; this.src='/images/article-pic.png'">
            </div>

            <div class="featured-text-wrapper">
                <div class="featured-title-wrapper">
                    <div class="featured-title bold hover">{{ featuredTitle }}</div>
                </div>
                <div class="featured-category brown">
                    {{ featuredCategory }}
                </div>
                <div class="featured-blurb">
                    {{ featuredBlurb }}
                </div>
            </div>
            <div class="read-more-wrapper">
                <div class="read-more brown">Read more</div>
            </div>
            <hr>
        </div>
        </a>
        {{/if}}

        <!--Listed articles-->
        <div class="list-articles-wrapper">
            {{#issueArticles}}
            <!--One article-->
            <a href={{ articleLink }} style="text-decoration: none;color:black">
            <div class="list-article-wrapper">
                <div class="list-article">
                    <div class="list-image-wrapper">
                        <img src={{ articleImage }} alt="article picture" class="list-image" onerror="this.onerror=null; this.src='/images/article-pic.png'">
                    </div>
                    <div class="list-text-wrapper">
                        <div class="list-title bold hover"> {{ articleTitle }} </div>
                        <div class="list-blurb">{{ articleBlurb }}</div>
                    </div>
                </div>
                <div class="read-more-wrapper">
                    <div class="read-more brown">Read more</div>
                </div>
                <hr>
            </div>
            </a>
            <!---->
            {{/issueArticles}}
        </div>

    </div>

    <!--Side Bar-->
    <div class="sidebar-wrapper">
        {{#if isNonTopical}}
        <div class="smaller-sidebar-title popular-title"> Issue Number: {{issueNum}} </div>
        <div class="smaller-sidebar-title popular-title"> Published: {{issueDate}} </div>
        {{else}}
        <div class="smaller-sidebar-title popular-title"> Topical Articles From Year {{year}} </div>
        {{/if}}
    </div>

</div>


<!--Footer-->
<div class="footer">
    <div class="footer-text">© The Brown Noser</div>
</div>