<body>
    <!--Dashboard Banner-->
    <div class="dashboard-banner">
        <div class="dashboard-logo">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="dashboard-logo-text"><a href="/dashboard" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
        </div>
        <div class="dashboard-buttons">
            <div class="logout-button-wrapper">
                <form action="logout" method="post">
                    <input class="logout-button" type="submit" value="Logout">
               </form>
            </div>
            <div class="dashboard-profile">
                <img src="/images/red.png" alt="profile pic icon" class="dashboard-propic">
            </div>
        </div>
    </div>

    <div class="main" role="main">
        <div class="select">
            <form method="post">
                <h2>Select articles to publish</h2>
                {{#drafts}}
                    <input type="checkbox" id="draft" name="draft" value="{{articleid}}">
                    <label for="{{articleid}}">{{headline}}</label> <br>
                    <label for="{{articleid}}">{{author}}</label> <br> <br>
                {{/drafts}}
                {{#if canPublish}}
                    <input type="submit" value="Publish">
                {{/if}}
            </form>
        </div>

        <div class="result">
            {{ message }}
        </div>
    </div>
</body>


<style>
    .main {
        display: flex;
        flex-direction: column;
        padding-left: 2%;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        width: 30vw;
        height: 100vh;
        color: white;
        position: relative;
        top: -10px;
        left: -10px;
    }

    .navlist {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        color: white; 
    }

    li {
        list-style-type: none;
        margin-bottom: 20px;
    }
    a {
        text-decoration: none;
        color: white;
    }
</style>