<body>
    <!--Dashboard Banner-->
    <div class="dashboard-banner">
        <div class="dashboard-logo">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="dashboard-logo-text"><a href="/dashboard" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
        </div>
        <div class="dashboard-buttons">
            <div class="logout-button-wrapper">
                <form action="logout" method="post">
                    <input class="logout-button" type="submit" value="Logout">
               </form>
            </div>
            <div class="dashboard-profile">
                <img src="/images/red.png" alt="profile pic icon" class="dashboard-propic">
            </div>
        </div>
    </div>

    <!--Navbar-->
    <div class="portal-navbar" role="navigation">
        <ul class="portal-navlist">
            <li class="portal-navitem"><a href="/write_new" class="hover">NEW ARTICLE</a></li>
            <li class="portal-navitem"><a href="/delete" class="hover">DELETE ARTICLE</a></li>
            <li class="portal-navitem"><a href="#" class="hover">NEW AUTHOR</a></li>
            <li class="portal-navitem"><a href="/edit_author" class="hover">EDIT AUTHOR</a></li>
            <li class="portal-navitem"><a href="/publish_topical" class="hover">PUBLISH ARTICLE</a></li>
            <li class="portal-navitem"><a href="/publish_issue" class="hover">PUBLISH ISSUE</a></li>
        </ul>
    </div>
    <hr style="height:4px;margin:0;">

    <div class="main" role="main">
        <div class="select">
            <form method="post">
                <div style="padding-top:2%;">Select articles to publish:</div>
                {{#drafts}}
                    <input type="checkbox" id="draft" name="draft" value="{{articleid}}">
                    <label for="{{articleid}}">{{headline}}</label> <br>
                    <label for="{{articleid}}">{{author}}</label> <br> <br>
                {{/drafts}}
                {{#if canPublish}}
                    <input type="submit" value="Publish">
                {{/if}}
            </form>
        </div>

        <div class="result">
            {{ message }}
        </div>
    </div>
</body>


<style>
    .main {
        display: flex;
        flex-direction: column;
        padding-left: 2%;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        width: 30vw;
        height: 100vh;
        color: white;
        position: relative;
        top: -10px;
        left: -10px;
    }

    .navlist {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        color: white; 
    }

    li {
        list-style-type: none;
        margin-bottom: 20px;
    }
    a {
        text-decoration: none;
        color: white;
    }
</style>