<body>
    <div class="navigation" role="navigation">
        <ul class="navlist">
            <li class="navitem"><a href="#">New article</a></li>
            <li class="navitem"><a href="#">Edit article</a></li>
            <li class="navitem"><a href="#">Pubish article(s)</a></li>
            <li class="navitem"><a href="#">Delete article</a></li>
        </ul>
    </div>

    <div class="drafts-list">
        <form method="post">
            {{#drafts}}
                <input type="checkbox" id="{{articleid}}" name="{{articleid}}" value="{{articleid}}">
                <label for="{{articleid}}">{{title}}</label>
                <label for="{{articleid}}">{{author}}</label>
            {{/drafts}}
            <input type="submit" value="Publish">
        </form>
        
    </div>

    <div class="result">
        {{ message }}
    </div>
</body>