<body>
    <div class="navigation" role="navigation">
        <ul class="navlist">
            <li class="navitem"><a href="/write_new">New article</a></li>
            <li class="navitem"><a href="#">Edit article</a></li>
            <li class="navitem"><a href="/publish_issue">Pubish new issue</a></li>
            <li class="navitem"><a href="#">Publish topical article</a></li>
            <li class="navitem"><a href="#">Delete article</a></li>
        </ul>
    </div>

    <div class="main" role="main">
        <div class="select">
            <form method="post">
                <h2>Select articles to publish</h2>
                {{#drafts}}
                    <input type="checkbox" id="draft" name="draft" value="{{articleid}}">
                    <label for="{{articleid}}">{{headline}}</label> <br>
                    <label for="{{articleid}}">{{author}}</label> <br> <br>
                {{/drafts}}
                <input type="submit" value="Publish">
            </form>
        </div>

        <div class="result">
            {{ message }}
        </div>
    </div>
</body>


<style>
    body {
        display: flex;
        flex-direction: row;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        width: 30vw;
        height: 100vh;
        color: white;
        position: relative;
        top: -10px;
        left: -10px;
    }

    .navlist {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        color: white; 
    }

    li {
        list-style-type: none;
        margin-bottom: 20px;
    }
    a {
        text-decoration: none;
        color: white;
    }

    .main {
        display: flex;
        flex-direction: column;
    }
</style>