<!--Header-->
<div class="header">
    <div class="banner" role="banner">
        <div class="title-wrapper">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="title-text"><a href="/" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
        </div>
        <div class="extras-wrapper">
            <div class="extras-options">
                <a href="/about" class="extras-text">About</a>
                <a href="/archive" class="extras-text">Archive</a>
                <a href="/join" class="extras-text">Join Us</a>
            </div>
            <div class="search" role="search">
                <form action="/search">
                    <input type="text" placeholder="Search..." name="search" class="search-input search-light-grey">
                </form>
            </div>
            <div class="email">
                <form class="email-form">
                    <input type="text" placeholder="Email address" name="email" class="email-input search-light-grey">
                    <button type="submit" class="subscribe-button">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <hr class="line-light-grey">
    <div class="navbar" role="navigation">
        <ul class="navlist">
            <li class="navitem"><a href="/category/15" class="hover">BUSINESS</a></li>
            <li class="navitem"><a href="/category/14" class="hover">CAMPUS LIFE</a></li>
            <li class="navitem"><a href="/category/50" class="hover">CINEMA CORNER</a></li>
            <li class="navitem"><a href="/category/17" class="hover">OFF CAMPUS</a></li>
            <li class="navitem"><a href="/category/45" class="hover">NEWS IN PICTURES</a></li>
            <li class="navitem"><a href="/category/18" class="hover">OPINION</a></li>
            <li class="navitem"><a href="/category/48" class="hover">POLITICS</a></li>
            <li class="navitem"><a href="/category/19" class="hover">SCIENCE &amp TECHNOLOGY</a></li>
            <li class="navitem"><a href="/category/20" class="hover">SPORTS</a></li>
        </ul>
    </div>
    <hr class="line-light-grey">
</div>

<!--Page Content-->
<div class="page-content-wrapper" role="main">
    <!--Main Content Section-->
    <div class="main-content-wrapper">
    <div class="large-search-wrapper">
        <form action="/search">
            <input type="text" name="search" class="large-search-input" placeholder="Search for...">
           <button type="submit" class="large-search-button"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!--Listed articles-->
        <div class="list-articles-wrapper">
            <p class="search-term-description brown" style="font-size:30px;margin-left:30px;">{{ searchTerm }}</p>
            
            {{#authorResults}}
            <!--One Author-->
            <a href={{authorLink}} style="text-decoration:none;color:black">
            <div class="result-wrapper">
                <div class="result-image-wrapper"><img src={{ authorPic }} alt="author picture" class="result-image"></div>
                <div class="result-text-wrapper">
                    <div class="list-title bold hover"><a href={{ authorLink }} style="text-decoration:none;color:black">{{ authorName }}</a></div>
                    <div class="staff-role">{{ authorRole }}</div>
                </div>
            </div>
            </a>
            <!---->
            {{/authorResults}}

            {{#searchResults}}
            <!--One article-->
            <a href={{ articleLink }} style="text-decoration:none;color:black">
            <div class="list-article-wrapper">
                <div class="list-article">
                    <div class="list-image-wrapper">
                        <img src={{ articleImage }} alt="article picture" class="list-image">
                    </div>
                    <div class="list-text-wrapper">
                        <div class="list-title bold hover">{{ articleTitle }}</div>
                        <div class="list-blurb">{{ articleBlurb }}</div>
                    </div>
                </div>
                <div class="read-more-wrapper">
                    <a href={{ articleLink }} class="read-more brown">Read more</a>
                </div>
            </div>
            </a>
            <!---->
            {{/searchResults}}
        </div>
    </div>

    <!--Side Bar-->
    <div class="sidebar-wrapper">
        <div class="smaller-sidebar-title popular-title">POPULAR SEARCHES</div>
        <ul class="popular-searches">
            {{#popularSearches}}
            <div><a href={{ searchLink }} class="unstyled-link" style="font-size:20px">{{ searchTerm }}</a></div>
            {{/popularSearches}}
        </ul>
    </div>

</div>


<!--Footer-->
<div class="footer">
    <div class="footer-text">© The Brown Noser</div>
</div>