<head>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#content'
      });
    </script>
</head>

<body>
    <div class="navigation" role="navigation">
        <ul class="navlist">
            <li class="navitem"><a href="#">New article</a></li>
            <li class="navitem"><a href="#">Edit article</a></li>
            <li class="navitem"><a href="#">Pubish article(s)</a></li>
            <li class="navitem"><a href="#">Delete article</a></li>
        </ul>
    </div>

    <div class="main" role="main">
        <form role="form" method="post">
            <label for="title">Title: </label>
            <input type="text" id="title" name="title"> <br/>

            {{!-- Potentially make drop down list for authors to ensure misspellings don't cause trouble --}}
            <label for="author">Author name: </label>
            {{!-- <select name="author" id="author">
                {{#authors}}
                <option value={{authorid}}>{{authorname}}</option>
                {{/authors}}
            </select> <br/> --}}
            <input type="text" id="author" name="author"><br/>

            <label for="category">Category: </label>
            <select name="category" id="category">
                {{#categories}}
                <option value={{categoryid}}>{{category}}</option>
                {{/categories}}
            </select> <br/>

            <label for="teaser">Article teaser: </label>
            <input type="text" id="teaser" name="teaser"> <br/>

            <label for="content">Article body: </label><br/>
            <textarea id="content" name="content"></textarea> <br/>

            <input type="submit" value="Save">
        </form>
    </div>

    <div class="result">
        {{ message }}
    </div>
</body>

<style>
    body {
        display: flex;
        flex-direction: row;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        width: 30vw;
        height: 100vh;
        color: white;
        position: relative;
        top: -10px;
        left: -10px;
    }

    li {
        list-style-type: none;
        margin-bottom: 20px;
    }
    a {
        text-decoration: none;
        color: white;
    }

    input {
        margin-bottom: 15px;
    }
</style>