<head>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <script>


    $(document).ready(function () {
        $('.limited').selectize({
            sortField: 'text'
        });
    });
    </script>
</head>

<body>
    <!--
    <div class="navigation" role="navigation">
        <ul class="navlist">
            <li class="navitem"><a href="#">New article</a></li>
            <li class="navitem"><a href="#">Edit article</a></li>
            <li class="navitem"><a href="/publish_issue">Pubish new issue</a></li>
            <li class="navitem"><a href="/publish_topical">Publish topical article</a></li>
            <li class="navitem"><a href="#">Delete article</a></li>
        </ul>
    </div>
    -->
    <!--Dashboard Banner-->
    <div class="dashboard-banner">
        <div class="dashboard-logo">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="dashboard-logo-text"><a href="/admin/dashboard" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
        </div>
        <div class="dashboard-buttons">
            <div class="logout-button-wrapper">
                <button class="logout-button">Logout</button>
            </div>
            <div class="dashboard-profile">
                <img src="/images/red.png" alt="profile pic icon" class="dashboard-propic">
            </div>
        </div>
    </div>

    <div class="main" role="main">
        <form role="form" method="post">
            <label for="headline">Headline: </label>
            <input type="text" id="headline" name="headline"> <br/>

            <label for="author">Author name: </label>
            {{!-- <input type="text" id="author" name="author"><br/> --}}

            <select class="limited" id="author" name="author" placeholder>
                <option value="">Select a name...</option>
                {{#authors}}
                <option value='{{authorid}},{{authorname}}'>{{authorname}}</option>
                {{/authors}}
            </select> <br/> 

            <label for="category">Category: </label>
            <select class="limited" name="category" id="category">
                <option value="">Select a category...</option>
                {{#categories}}
                <option value='{{categoryid}},{{category}}'>{{category}}</option>
                {{/categories}}
            </select> <br/>

            <label for="type">Publish as: </label>
            <select name="type" id="type">
                <option value="topical">a topical article</option>
                <option value="issue">part of the next issue</option>
            </select>

            <label for="teaser">Article teaser: </label>
            <input type="text" id="teaser" name="teaser"> <br/>

            {{!-- Need to add photo upload and caption --}}
            <input type="file" id="photoFile" name="photoFile" accept="image/*"> <br/>
        
            <label for="photoCaption">Photo caption: </label>
            <input type="text" id="photoCaption" name="photoCaption"> <br/>

            <label for="content">Article body: </label><br/>
            <textarea id="content" name="content"></textarea> <br/>

            <input type="submit" value="Save">
        </form>
    </div>

    <div class="result">
        {{ message }}
    </div>
</body>

<script>
    const handleImageUpload = event => {
        const files = event.target.files;
        const formData = new FormData();
        formData.append('myFile', files[0]);

        //add checks for filetype 
        fetch('/saveImage', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.path)
        })
        .catch(error => {
            console.error(error)
        })
    }

    document.querySelector('#photoFile').addEventListener('change', event => {
        handleImageUpload(event);
    });

    tinymce.init({
        selector: '#content',
        plugins: 'image',
        //images_upload_handler: handleImageUpload
    });

</script>

<style>
    /*
    body {
        display: flex;
        flex-direction: row;
    }
    */

    .main {
        padding: 2%;
    }
    
    .navigation {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        width: 30vw;
        height: 100vh;
        color: white;
        position: relative;
        top: -10px;
        left: -10px;
    }

    .navlist {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        color: white; 
    }

    li {
        list-style-type: none;
        margin-bottom: 20px;
    }
    a {
        text-decoration: none;
        color: white;
    }

    input {
        margin-bottom: 15px;
    }
</style>